
# server
fastapi == 0.115.8
pydantic == 2.5.3
uvicorn == 0.23.2
python-jose == 3.3.0
passlib == 1.7.4
bcrypt == 4.1.2
python-multipart == 0.0.9
python-dotenv == 1.0.1
requests == 2.32.3
snowflake-id == 1.0.2